<div class="login-container">
  <div class="input-container">
    <label for="username">Username:</label>
    <input type="text" id="username">
  </div>

  <div class="input-container">
    <label for="password">Password:</label>
    <div class="password-input-container">
      <input type="{{ showPassword ? 'text' : 'password' }}" id="password" [(ngModel)]="password" (input)="checkPasswordStrength()" [ngStyle]="{'border-color': passwordBorderColor, 'background-color': passwordStrengthColor}">
      <span class="toggle-password" (click)="togglePasswordVisibility()">
        {{ showPassword ? 'Hide' : 'Show' }}
      </span>
    </div>
    <div class="password-message" [ngClass]="{'success': passwordMessage === 'Strong Password'}">
      {{ passwordMessage }}
    </div>
  </div>
  <a routerLink="/home">Go to Home</a>
</div>


